<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186507531827-p8bpl8cds8sv3o5g99kf03dpe3n4jiha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186507531827-p8bpl8cds8sv3o5g99kf03dpe3n4jiha</string>
	<key>API_KEY</key>
	<string>AIzaSyCY_h-iJMuGVtagWzte9W5LfYOJMiatMD8</string>
	<key>GCM_SENDER_ID</key>
	<string>186507531827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vitable</string>
	<key>PROJECT_ID</key>
	<string>vitable-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>vitable-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186507531827:ios:0f614f0f7ea4cd9841f546</string>
</dict>
</plist>