<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141521035609-rodold41ueq0qprd8utu980obgthjkql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141521035609-rodold41ueq0qprd8utu980obgthjkql</string>
	<key>API_KEY</key>
	<string>AIzaSyDng2xRO-RFWdE76w9UcAXSa17fere4p4k</string>
	<key>GCM_SENDER_ID</key>
	<string>141521035609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vitable.dev</string>
	<key>PROJECT_ID</key>
	<string>vitable-mobile-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>vitable-mobile-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141521035609:ios:a554484046623201466c48</string>
</dict>
</plist>